.app-grid {
  display: grid;
  grid-template-columns: 600px 400px;
  grid-template-rows: auto auto 400px;
  column-gap: 20px;
  row-gap: 5px;
  align-items: start;
  margin-bottom: 30px;
}

.app-heading {
  grid-column: 1;
  grid-row: 1;
  margin: 0;
}

.app-buttons {
  grid-column: 1;
  grid-row: 2;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
  gap: 10px;
}

.app-canvas {
  grid-column: 1;
  grid-row: 3;
}

.app-explanation {
  grid-column: 2;
  grid-row: 3;
  border: 1px solid #ccc;
  height: 100%;
  padding: 10px;
}
